# Python

Python is an interpreted high-level object-oriented programming language that was created by Guido van Rossum in 1991. It is also called general-purpose programming language as it is used in almost every domain we can think of as mentioned below:

- Web Development
- Software Development
- Game Development
- AI & ML
- Data Analytics

Python is dynamically-typed and garbage-collected.

# Real-World Examples of python:

- **NASA** (National Aeronautics and Space Agency) : One of Nasa’s Shuttle Support Contractors, United Space Alliance developed a Workflow Automation System (WAS) which is fast. Internal Resources Within critical project stated that:
“Python allows us to tackle the complexity of programs like the WAS without getting bogged down in the language”. Nasa also published a website (https://code.nasaL.gov/) where there are 400 open source projects which use python.


- **Netflix** : There are various projects in Netflix which use python


- **Instagram**: Instagram also uses python extensively. They have built a photo-sharing social platform using Django which is a web framework for python. Also, they are able to successfully upgrade their framework without any technical challenges.

   etc etc

Lets start..

# Hello World

In [ ]:
print("Hello New world")

name = "Mughal"
name = 'Mughal'
age = 45
email = "salman@gmail.com"
print(email)
print(name)
name = 67
print(name)

name1 = "My brother\"s name is M. Aslam"
print(name1)

Hello New world
salman@gmail.com
Mughal
67
My brother"s name is M. Aslam

In [ ]:
name = "qasim"
name1 = name.title()
print(name)
print(name1)
print(name.title())
print(name.upper())
print(name.lower())
print(name)

gender = 'male'
print(gender.upper())

qasim
Qasim
Qasim
QASIM
qasim
qasim
MALE

In [ ]:
firstName = "Qasim"
lastName = "M. Aslam"
age = 45

fullName = firstName +" "+ lastName
print(firstName)
print(lastName)
print(fullName)
print(firstName,lastName)

fullName1 = firstName + " " + lastName +" " +str(age)
print(fullName1)

first_name = "sohail"
last_name = "afzal"
print(first_name,last_name,age)

Qasim
M. Aslam
Qasim M. Aslam
Qasim M. Aslam
Qasim M. Aslam 45
sohail afzal 45

In [ ]:
languages = "Languages:\n\tPython\n\tC\n\tJavaScript"
print(languages)

print("---------------------")
name = "---Hello World---"

print(name)
print(name.rstrip('-'))
print(name.lstrip('-'))
print(name.strip('-'))
print(name)

Languages:
	Python
	C
	JavaScript
---------------------
---Hello World---
---Hello World
Hello World---
Hello World
---Hello World---

In [ ]:
name = " hello world  "
name = name.strip()
name = name.title()

name1 = name.strip()
name2 = name1.title()
print(name2)

Hello World

In [ ]:
name = " hello world  "
print(name.strip().title())

Hello World

In [ ]:
num1 = 81
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 % num2)
print(num1 ** num2)
print(num1 // num2)


num3 = 5 - 3 * 2 + 2 / 2
print(num3)

84
78
27.0
243
0
531441
27
0.0

In [ ]:
num1 = 0.1
num2 = 0.2
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
num3 = 5
#print(num3)

0.30000000000000004
-0.1
0.020000000000000004

# LIST

In [ ]:
bicycles = ['trek', 'cannondale',
            'redline', 'specialized']
print(bicycles)
print(bicycles[0].upper())
singleBicycle = bicycles[2]
print(singleBicycle.upper())
print(bicycles)
print(bicycles[-3])

['trek', 'cannondale', 'redline', 'specialized']
TREK
REDLINE
['trek', 'cannondale', 'redline', 'specialized']
cannondale

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)


print("Now changing first entry")
motorcycles[0] = 'ducati'
print(motorcycles)

print("Now appending at last position")
motorcycles.append('roadprince')
print(motorcycles)

print("Now inserting at position 1")
motorcycles.insert(1,"hero")
print(motorcycles)

print("Now inserting at position 5")
#motorcycles[5] = "Hello world"
motorcycles.insert(5,"Hello World")
print(motorcycles)

print("Now deleting entry at index 1")
del motorcycles[1];
print(motorcycles)

['honda', 'yamaha', 'suzuki']
Now changing first entry
['ducati', 'yamaha', 'suzuki']
Now appending at last position
['ducati', 'yamaha', 'suzuki', 'roadprince']
Now inserting at position 1
['ducati', 'hero', 'yamaha', 'suzuki', 'roadprince']
Now inserting at position 5
['ducati', 'hero', 'yamaha', 'suzuki', 'roadprince', 'Hello World']
Now deleting entry at index 1
['ducati', 'yamaha', 'suzuki', 'roadprince', 'Hello World']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
removedMotorCycles = []
print(motorcycles)


a1 = motorcycles.pop()   #it can assign value to a1 after popping
removedMotorCycles.append(a1)

print(motorcycles)

print(a1)

a2 = motorcycles.pop()
removedMotorCycles.append(a2)
print(motorcycles)
print(a2)
print(removedMotorCycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki
['honda']
yamaha
['suzuki', 'yamaha']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
removedMotorCycles = []
print(motorcycles)

removedMotorCycles.append(motorcycles.pop())

print(motorcycles)
print(removedMotorCycles)

removedMotorCycles.append(motorcycles.pop())
print(motorcycles)
print(removedMotorCycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
['suzuki']
['honda']
['suzuki', 'yamaha']

In [ ]:
b = [1,2,3,True,1]

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
removedMotorCycles = []
print(motorcycles)

a1 = motorcycles.remove("yamaha")     # "remove" cannot assign value to a1 but "popping" can
print(motorcycles)
print(a1)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']
None

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.sort()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']

In [1]:
a = [1,2,4,True,1]
a.sort()
print(a)

[1, True, 1, 2, 4]

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.sort(reverse=True)
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
#sortedList = sorted(cars)  #it can assign value
sortedList = cars.sort()   #it cannot assign value
print(cars)
print(sortedList)

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']
None

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
twoCars = cars[0] + " " +cars[1]
print(twoCars)

print(cars)
cars.reverse()
print(cars)

bmw audi
['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru',"abc"]
print(cars)

count = len(cars)
print(count)
print(cars[-1])

#print(cars[-10])

['bmw', 'audi', 'toyota', 'subaru', 'abc']
5
abc

# LIST WITH "FOR LOOP"

In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print("Hello Mr. ",magician)
    print(magician)
print("Hello ")

Hello Mr.  alice
alice
Hello Mr.  david
david
Hello Mr.  carolina
carolina
Hello

In [2]:
cars.sort()

NameError: ignored

In [5]:
a = int(input('entert a nmb'))
for i in range(a):
  print("hello")

entert a nmb4
hello
hello
hello
hello

In [ ]:
name = ["ali","farhan"]

for i in name:
    print(i)

ali
farhan

In [ ]:
for value in range(1,15):
    print(value)

for value in range(1,10,2):
    print(value)
print("---")
for value in range(100,0,-5):

    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
1
3
5
7
9
---
100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [ ]:
names = ["Wajid","Ali","Qasim","Zeeshan"]
for value in range(0,len(names)):
    print(value)
    print(names[value])

0
Wajid
1
Ali
2
Qasim
3
Zeeshan

In [ ]:
names = ["Wajid","Ali","Qasim","Zeeshan"]
for value in range(len(names)-1,-1,-1):
    print(value)
    print(names[value])

3
Zeeshan
2
Qasim
1
Ali
0
Wajid

In [ ]:
for value in range(1,10):
    abc = 34
    print("Hello", value)

print("New", value)
print("New2", abc)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
New 9
New2 34

In [ ]:

mylist = range(1,10)
print(mylist)
mylist2 = list(range(1,5));
print(mylist2)

mylist3 = list(range(1,20,3));
print(mylist3)

print(list(range(2,11,2)))

range(1, 10)
[1, 2, 3, 4]
[1, 4, 7, 10, 13, 16, 19]
[2, 4, 6, 8, 10]

In [ ]:
squares = []

for value in range(1,11):
    square = value**2
    square = square+2
    squares.append(square)


print(squares)

[3, 6, 11, 18, 27, 38, 51, 66, 83, 102]

In [ ]:
squares = []

for value in range(1,11):
    squares.append(value**2)


print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []

for value in range(1,11):
    squares.append(value**2)


print(squares)

minVal = min(squares)
maxVal = max(squares)
sumVal = sum(squares)
countVal = len(squares)

print("Min",minVal)
print("Max",maxVal)
print("Sum",sumVal)
print("Count",countVal)
print("Average",sumVal/countVal)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Min 1
Max 100
Sum 385
Count 10
Average 38.5

In [ ]:
#writing queries in one line

values = [val for val in range(1,11)]
print(values)
print("-----------------------------")
values2 = [val for val in range(1,11,2)]
print(values2)
print("-----------------------------")
squares = [value**2+2 for value in range(1,11)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
-----------------------------
[1, 3, 5, 7, 9]
-----------------------------
[3, 6, 11, 18, 27, 38, 51, 66, 83, 102]

In [ ]:
print([val for val in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# use of break statement
#With the break statement we can stop the loop before it has looped through all the items:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
# use of continue statement
# With the continue statement we can stop the current iteration of the loop, and continue with the next:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# LIST WITH SLICING

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"asdf",
           "asdfa","asdfadf","astest"]

fewPlayers = players[4:7]
print(fewPlayers)
print(players)

['eli', 'asdf', 'asdfa']
['charles', 'martina', 'michael', 'florence', 'eli', 'asdf', 'asdfa', 'asdfadf', 'astest']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"asdf",
           "asdfa","asdfadf","astest"]
fewPlayers = players[:4]
print(fewPlayers)
print(players)

['charles', 'martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence', 'eli', 'asdf', 'asdfa', 'asdfadf', 'astest']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"asdf",
           "asdfa","asdfadf","astest"]
fewPlayers = players[4:]
print(fewPlayers)
print(players)

['eli', 'asdf', 'asdfa', 'asdfadf', 'astest']
['charles', 'martina', 'michael', 'florence', 'eli', 'asdf', 'asdfa', 'asdfadf', 'astest']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"asdf",
           "asdfa","asdfadf","astest"]
fewPlayers = players[:]
print(fewPlayers)
print(players)

['charles', 'martina', 'michael', 'florence', 'eli', 'asdf', 'asdfa', 'asdfadf', 'astest']
['charles', 'martina', 'michael', 'florence', 'eli', 'asdf', 'asdfa', 'asdfadf', 'astest']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
fewPlayers = players[1:6:2]
print(fewPlayers)
print(players)

['martina', 'florence', '1']
['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
fewPlayers = players[::2]
print(fewPlayers)
print(players)

['charles', 'michael', 'eli', '2', '4']
['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
print(players[::2])

['charles', 'michael', 'eli', '2', '4']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
print(players)
print(players[-3])
fewPlayers = players[-3:]
print(fewPlayers)

['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']
2
['2', '3', '4']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
print(players)
print(players[-3])
fewPlayers = players[-5:-3]
print(fewPlayers)

['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']
2
['eli', '1']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
print(players)
print(players[-3])
fewPlayers = players[-3:-7:-1]
print(fewPlayers)

['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']
2
['2', '1', 'eli', 'florence']

In [ ]:
players = ['charles', 'martina', 'michael',
           'florence', 'eli',"1",
           "2","3","4"]
print(players)
print(players[-3])
fewPlayers = players[::-1]
print(fewPlayers)

['charles', 'martina', 'michael', 'florence', 'eli', '1', '2', '3', '4']
2
['4', '3', '2', '1', 'eli', 'florence', 'michael', 'martina', 'charles']

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']
['pizza', 'falafel', 'carrot cake', 'ice cream']

# TUPLE

In [ ]:
dimensions = (200, 50)
print(dimensions)
print(dimensions[0])
print(dimensions[1])

(200, 50)
200
50

In [ ]:
dimensions = (200, 50)
print(dimensions)
#dimensions.append(34)
print(dimensions)

(200, 50)
(200, 50)

In [ ]:
dimensions = (200, 50)
print(dimensions)
dimensions[1] = 45
print(dimensions)

(200, 50)

TypeError: 'tuple' object does not support item assignment

In [ ]:
dimensions = tuple(range(1,11))
print(dimensions)
for d in dimensions:
    print(d)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1
2
3
4
5
6
7
8
9
10

In [ ]:
dimensions = (200,500)
print(dimensions)
dimensions = (300,500)
print(dimensions)

(200, 500)
(300, 500)

In [ ]:
dimensions = tuple(val**2 for val in range(1,11))
print(dimensions)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

# IF ELSE

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [ ]:
marks = 95

if marks > 80:
    print("A+")
elif marks >70:
    print("A")
elif marks >60:
    print("B")
elif marks > 50:
    print("C")
elif marks > 40:
    print("D")
else:
    print("Failed")

A+

In [ ]:
marks = 95

if marks > 40:
    print("D")
elif marks > 50:
    print("C")
elif marks > 60:
    print("B")
elif marks >70:
    print("A")
elif marks > 80:
    print("A+")
else:
    print("Failed")

D

In [ ]:
marks = 70

if marks > 40 and marks < 50:
    print("D")
elif marks > 50 and marks <60:
    print("C")
elif marks > 60 and marks <70:
    print("B")
elif marks >70 and marks < 80:
    print("A")
elif marks > 80:
    print("A+")
else:
    print("Failed")

Failed

In [ ]:
marks = 39

if marks >= 40 and marks < 50:
    print("D")
elif marks >= 50 and marks <60:
    print("C")
elif marks >= 60 and marks <70:
    print("B")
elif marks >= 70 and marks < 80:
    print("A")
elif marks >= 80:
    print("A+")
else:
    print("Failed")

Failed

In [ ]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']

print('mushrooms' in requested_toppings)

if 'mushrooms' in requested_toppings:
    print("Ok Sir")
else :
    print("Sorry, not available Sir ")

True
Ok Sir

# INPUT & WHILE LOOP

In [ ]:
message = input("Enter your name ")
print("Hello "+message+"!")

Enter your name sohail
Hello sohail!

In [ ]:
age = input("How old are you? ")
age = int(age)
print(age)
if age>18:
    print("Here is yor CNIC")
else :
    print("Grow up")

How old are you? 12
12
Grow up

In [ ]:
age = int(input("How old are you? "))
print(age)
if age>18:
    print("Here is yor CNIC")
else :
    print("Grow up")

In [ ]:
num = int(input("Enter your number"))
if num % 2 == 0:
    print("The number "+str(num)+" even")
else:
    print("The number " + str(num) + " odd")

Enter your number2
The number 2 even

In [ ]:
current_number = 1

while (current_number <= 5):
    #print(current_number)
    current_number += 1

print(current_number)

6

In [ ]:
current_number = int(input("Enter number "))

for i in range(1,current_number):
    print(i)

Enter number 3
1
2

In [ ]:
current_number = int(input("Enter number "))
num = 0

while num < current_number:
    num += 1
    if num == 3:
        break
    print(num)


print("Final",num)

In [ ]:
current_number = int(input("Enter number "))
num = 0

while num < current_number:
    num += 1
    if num == 3:
        continue
    print(num)


print("Final",num)

Enter number 2
1
2
Final 2

# RANDOM NUMBERS

In [ ]:
play = "yes"

print(play is "yes")

True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-75-14dab5f8fcf6>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(play is "yes")

In [ ]:
from random import randint


num = randint(1,15)
print(num)

14

In [ ]:
from random import randint
num = 0
mylist = []
for val in range(0,10):
    num = randint(1,15)
    mylist.append(num)
    print(num)

print(mylist)

val = 6;
print(val not in mylist)
print(val in mylist)

10
15
8
7
9
15
5
9
13
1
[10, 15, 8, 7, 9, 15, 5, 9, 13, 1]
True
False

In [ ]:
#Time

import time
h_m_s = time.strftime('%H:%M:%S')
print(h_m_s)
hour1 = int(time.strftime('%H'))
print(hour1)
min1 = time.strftime('%M')
print(min1)
second1 = time.strftime('%S')
print(second1)

07:57:36
7
57
36

-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
# TASKS LAB 1
-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------


1) Write a program that will take input from user to check if input number is prime or not.

<br>


2) Write a program that computes the number of elements in a list that are strictly less than a given number n (input by user).

Example:

x = [13, 56, 21, 45, 20, 41, 12, 43, 6]

input number = 7

Output:

Number of elements that are smaller than 7 = 8

(7<13 , 7<56 , 7<21 ,7<45 , 7<20 , 7<41 ,7<12 , 7<43 )

<br>

3) Write a program that will take a number as input from user. Random numbers will be generated (not greater than that input number). These random numbers will be appended to a list such that no duplicate number is appended to list. This process will continue till the length of list gets equal to that input number.


4)Write a program to generate random numbers. User tries to guess number with input. If number matches, user wins
 else if user guess is incorrect, give him three chances. After win or lose, ask user do you want to continue! If user says 'yes' then generate new random number and start from point 1 again.

<br>


5) calculate the body mass index (BMI) of two variables input by the user: where BMI = weight / (height)^2. If the bmi is less than 18.5, they are underweight. If it is between 18.5 and 25, they have normal weight. If the bmi is over 25 and below 30, then they are overweight. If bmi is over 30 and below 35, they are obsese. Otherwise they are clinically obsese. Write code

<br>

6) With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

Hints:
Use set() to store a number of values without duplicate.

<br>

7) With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to
make a list whose elements are intersection of the given lists.

Hints:
Use set() and "&=" to do set intersection operation.

<br>

8) Take the height from the person who wants to buy a ticket for rollercoater. If the height is greater than 120 cm then the person can ride the rollercoaster otherwise not. Furthermore, in the case the height is greater than 120 and the age is less than 18, you charge \$6 otherwise charger \$10. Write a python code

<br>


8) Write a python code to determine if a given year is a leap year. Following is the way to work out if a given year is leap year:
- on every year that is evenly divisible by 4
- except any year that is evenly divisible by 100
- unless the year is also divisible by 400

<br>