In [11]:
#Q1
a = ["He", "th", "i", "sal"]
b = ["llo", "is", "s", "man"]
x = zip(a,b)

for i,j in x:
    print(i+j,end=" ")
print("\nQuery = Hello this is salman")

Hello this is salman
Query = Hello this is salman

In [21]:
#Q2
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for i in range(len(list1)):
    for j in range(len(list2)):
        print(list1[i]+list2[j])

Hello Dear
Hello Sir
take Dear
take Sir

In [23]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
a = [x+y for x in list1 for y in list2 ]
print(a)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [43]:
#Q3
a = [1,4,3,5]
b = [6,3,4,2]

for i in range(0,len(b)):
    x = list(map(lambda c,d : c+d, a,b))
print(x)

[7, 7, 7, 7]

In [18]:
data = []

for i in range(3):
    name = input(f"Enter the name of Student {i+1}: ")
    age = int(input(f"Enter the age of Student {i+1}: "))
    data.append([name, age])

ages = sorted(set(student[1] for student in data))
secondlowage = ages[1]
secondlowage_students = [student for student in data if student[1] == secondlowage]
print("Student with the second low age is ")
for student in secondlowage_students:
    print(f"Name: {student[0]}, Age: {student[1]}")

Enter the name of Student 1:  nick
Enter the age of Student 1:  43
Enter the name of Student 2:  Gunrey
Enter the age of Student 2:  28
Enter the name of Student 3:  Saegent
Enter the age of Student 3:  40

Student with the second low age is
Name: Saegent, Age: 40

In [71]:
#Q5
class student():
    def __init__(self,name,age):
        self.name= name
        self.age=age
        
    def display(self):
        print("Student Name is "+self.name)
        print(f"Age is {self.age}")

s1=student("Partham",23)
s2=student("Kumar",18)
s1.display()
s2.display()

Student Name is Partham
Age is 23
Student Name is Kumar
Age is 18

In [6]:
#Q6
class Employee():
    def __init__(self,name,salary,tax=2):
        self.name=name
        self.salary=salary
        self.tax=tax
        
    def get_data():
        self.name = input("Enter the name ")
        self.salary=float(input("Enter the salary "))
        self.tax=float(input("Enter the tax percetage"))
        
    def salaryAfterTax(self):
        amount = (self.tax/100)*self.salary
        after_tax = self.salary - amount
        return after_tax
    
    def update_tax(self,newtax):
        self.tax = newtax

emp = Employee("Glinter",10000,2)
print("Salary after tax ", emp.salaryAfterTax())

emp.update_tax(10)
print("Salary after tax ", emp.salaryAfterTax())

Salary after tax  9800.0
Salary after tax  9000.0