2 dimensional List elements can be accessed as :

In [ ]:
# 2 dimensional list

a = [[1,2],[3,4],[6,7]]

print(a[0][1])   #it will print 2

print(a[1][0])   #it will print 3

print(a[2][1])   #it will print 7

print(a[-1][0])  #it will print 6

print(a[-1][1])  #it will print 7

2
3
7
6
7

# Zip Function

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [ ]:
#Zip function in python

a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = zip(a, b)

print(tuple(x))  #return tuple of tuples

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [ ]:
#Zip function in python

a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = zip(a, b)

print(list(x))   #return list of tuples

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [ ]:
#Zip function in python

a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = zip(a, b)

print(dict(x))  #return dictionary with "a" list as keys and "b" list as values

{'John': 'Jenny', 'Charles': 'Christy', 'Mike': 'Monica'}

In [ ]:
a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = zip(a, b)

for i,j in x:
    print(i,"and",j)

John and Jenny
Charles and Christy
Mike and Monica

# Enumerate function
The enumerate() method adds a counter to an iterable and returns it.

In [ ]:
languages = ['Python', 'Java', 'JavaScript']

enumerate_prime = enumerate(languages)

print(enumerate_prime)

# convert enumerate object to list
print((list(enumerate_prime)))

<enumerate object at 0x000001A9A4D17640>
[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [ ]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))

# converting to list
print(list(enumerateGrocery))

# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [ ]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

for i,j in enumerate(grocery):
    print(i,j)

0 bread
1 milk
2 butter

# Lambda Function

In Python, an anonymous function is a function that is defined without a name. While normal functions are defined using the def keyword in Python, anonymous functions are defined using the lambda keyword. Hence, anonymous functions are also called lambda functions

<b>Syntax  </b>
lambda arguments: expression

Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

Lambda functions (nameless functions) reduce the number of lines of code when compared to normal python function defined using def keyword. ... They are generally used when a function is needed temporarily for a short period of time, often to be used inside another function such as filter , map etc..

In [ ]:
#add 10 to the argument and return result
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

Lambda function is same as other functions but with out a name.

double = lambda x: x * 2

<b>is same as</b>

def double(x):
    return x * 2

Lambda functions are normally used along with other functions like map(), filter(), etc

In [ ]:
# Program to filter out only the even items from a list. Filter takes in function and list.
# Filter applies that function on list. Filter actually checks specific conditions

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [ ]:
# Program to double each item in a list using map(). Map() actually perform operations on list

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
# map function with out lambda function

def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
list(x)

[5, 6, 6]

In [ ]:
# using lambda to sort based on second element of list which is x[1] . So you may sort based on any element of list.

a = [('candy','30','100'), ('apple','10','200'), ('baby','20','300')]
b = sorted(a,key=lambda x:x[1])
print(b)

[('apple', '10', '200'), ('baby', '20', '300'), ('candy', '30', '100')]

### Other important functions :

abs() returns the absolute value of a numeric value (e.g. integer or float)

round() returns the rounded value of a numeric value

min() returns minimum value from list

max() returns maximum value from list

sorted() returns in sorted order

sum() returns sum of elements of list

len() returns length

# Regular Expressions (Regex)

A Regular Expression (RegEx) is a sequence of characters that defines a search pattern. For example, RegEx can be used to check if a string contains the specified search pattern.
Python has a built-in package called <b>re</b>, which can be used to work with Regular Expressions.

import re

It is a very wide library with different syntaxes to search for different types of strings. We will take its overview only.

It has following functions:

<b>findall</b>
Returns a list containing all matches

<b>search</b>
Returns a Match object if there is a match anywhere in the string

<b>split</b>
Returns a list where the string has been split at each match

<b>sub</b>
Replaces one or many matches with a string

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [ ]:
# The "." is used for "any character"
import re

txt = "hello world"
d =  "The rain in Spain"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
# the "*" means "starts with" and "$" means "end with".

import re

txt = "The rain in Spain"
x = re.findall("^The.*Spain$", txt)
print("findall will return", x)

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print("search will return position ", x)

findall will return ['The rain in Spain']
search will return position  <re.Match object; span=(0, 17), match='The rain in Spain'>

In [ ]:
# \s is for white spaces

import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 4

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
#replaces white spaces with 9
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
# it will replace white spaces with 9 only 2 times as argument 2 is passed

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

# Intro : Object Oriented Programming

In [ ]:
class Dog():
    """A simple attempt to model a dog."""

    def __init__(self,name,age):    #this is a constructor  (__init__ is for constructor while "self" takes reference of object)
        print("Dog init")
        print("Name ",name)
        print("Age ", age)


    def bark(self):
        print("Dog is barking")


obj = Dog("willie",6)
print("--------------------")
obj.bark()

Dog init
Name  willie
Age  6
--------------------
Dog is barking

In [ ]:
class Dog():
    """A simple attempt to model a dog."""

    def __init__(self,name,age):
        print("Dog init")
        print("Name ",name)
        print("Age ", age)
        self.name = name
        self.age = age

    def bark(self):
        print("Dog is barking")

e = Dog("willie",6)

print(e.name)
print(e.age)
e.age = 10
print(e.age)

Dog init
Name  willie
Age  6
willie
6
10

In [ ]:
class Dog():
    """A simple attempt to model a dog."""

    def __init__(self,name,age):
        print("Dog init")
        print("Name ",name)
        print("Age ", age)
        self.name = name
        self.age = age

    def bark(self):
        print(self.name +" is barking")

e = Dog("willie",6)
e.bark()

Dog init
Name  willie
Age  6
willie is barking

In [ ]:
class Dog():
    """A simple attempt to model a dog."""

    def __init__(self,name,age):
        print("Dog init")
        print("Name ",name)
        print("Age ", age)
        self.name = name
        self.age = age

    def bark(self):
        print(self.name +" is barking")

myDog = Dog("willie",6)
yourDog = Dog("lucy",3)

myDog.bark()
yourDog.bark()

Dog init
Name  willie
Age  6
Dog init
Name  lucy
Age  3
willie is barking
lucy is barking

In [ ]:
class Dog():
    """A simple attempt to model a dog."""
    total = 0
    def __init__(self,name,age):
        print("Dog init")
        print("Name ",name)
        print("Age ", age)
        self.name = name
        self.age = age
        Dog.total = Dog.total+1

    def bark(self):
        print(self.name +" is barking")

myDog = Dog("willie",6)
yourDog = Dog("lucy",3)

myDog.bark()
yourDog.bark()
print(Dog.total)

Dog init
Name  willie
Age  6
Dog init
Name  lucy
Age  3
willie is barking
lucy is barking
2

In [ ]:
class Dog():
    """A simple attempt to model a dog."""
    total = 0
    def __init__(a,name,age):
        print("Dog init")
        print("Name ",name)
        print("Age ", age)
        a.name = name
        a.age = age
        Dog.total = Dog.total+1

    def bark(b):
        print(b.name +" is barking")

myDog = Dog("willie",6)
yourDog = Dog("lucy",3)

myDog.bark()
yourDog.bark()
print(Dog.total)

Dog init
Name  willie
Age  6
Dog init
Name  lucy
Age  3
willie is barking
lucy is barking
2

In [ ]:
class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year

    def get_descriptive_name(self):
        long_name = str(self.year)+ ' '+self.make + ' ' + self.model
        return long_name


c = Car('audi', 'a4', 2016)
name = c.get_descriptive_name()
print(name)

2016 audi a4

In [ ]:
class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0


    def get_descriptive_name(self):
        long_name = str(self.year)+ ' '+self.make + ' ' + self.model
        return long_name


c = Car('audi', 'a4', 2016)
name = c.get_descriptive_name()
print(name)

2016 audi a4

In [ ]:
class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
        self.__odometer_reading = 5


    def get_descriptive_name(self):
        long_name = str(self.year)+ ' '+self.make + ' ' + self.model + ' '+ str(self.__odometer_reading)
        return long_name

    def update_odometer(self, val):
        self.__odometer_reading = val

    def get_odometer(self):
        return self.__odometer_reading


c = Car('audi', 'a4', 2016)

print(c.get_odometer())
c.update_odometer(400000)
print(c.get_odometer())

5
400000

In [ ]:
# __ is not allowed at the start of name of any function except constructor __init

class Car():

    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
        self.__odometer_reading = 5


    def get_descriptive_name(self):
        long_name = str(self.year)+ ' '+self.make + ' ' + self.model + ' '+ str(self.__odometer_reading)
        return long_name

    def update_odometer(self, val):
        self.__odometer_reading = val

    def get_odometer(self):
        return self.__odometer_reading

    def __start(self):
        print("Car started")


c = Car('audi', 'a4', 2016)

c.__start()

AttributeError: 'Car' object has no attribute '__start'

# TASKS

<b>Q1)</b> Suppose a = ["He", "th", "i", "sal"]
and b = ["llo", "is", "s", "man"]

You need to print this :
['Hello', 'this', 'is', 'salman']

After attempting this question, make sure you may also write this query in one line.
<br/>

<b>Q2)</b> Two lists are given : list1 = ["Hello ", "take "] , list2 = ["Dear", "Sir"]

Concatenate these two lists like this :

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

<b>Q3)</b> Take two lists, a = [1,4,3,5] and b = [6,3,4,2]

Add these two lists together using lambda and map function
<br/>

<b>Q4)</b> Take input from user one by one name and ages of three students. Use lambda function to return name and age of student having second lowest age. You may use 2 dimensional list to store name and age pair of each student

<b>Q5)</b>  Make a class "Student"and make a function "Print_biodata" inside it. Pass name and age of student to constructor. Now access "Print_biodata" function using object to print name and age of student.

<b>Q6)</b> Make a class "Employee". Create "get_data" function inside this class that will take input from user employee name ,monthly salary and percentage of tax. Create another function "Salary_after_tax" that will deduct 2% tax on monthly salary and return remaining salary. There will be another function of "update_tax_percentage" inside this class that will change tax percentage (for example initially if it was taken 2% then you may update it to 3%). Now again salary will be calculated based on this new tax percentage.